.treeContainer {
    display: flex;
    flex-direction: column;
}

.lease {
    display: flex;
    flex-direction: column;
    padding: 12px 6px 12px 6px;
    margin: 12px 6px 12px 6px;
}

app-operator-modal {
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 999999;
}

