<div class="treeContainer">
   <div *ngFor="let operator of operatorList; let i = index"class="operator">
       {{operator.name}} {{operator.operatorId}} <button (click)="getLeases()">get leases</button>
   </div> 
   <div *ngFor="let lease of leaseList; let i = index"class="lease">
       {{lease.name}} {{lease.district}} {{lease.oil}} <button (click)="getWells(lease.leaseId, lease.district, lease.operatorId)">get wells</button>
   </div> 
   <div class="production">
       <app-production-table [productionList]="productionList"></app-production-table>
   </div>
</div>
