.productionTable {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    padding: 2px;
    text-align: center;
    border-right: 1px solid grey;
    margin: 2px;
    width: 75px;
}
