#container {
    display:flex;
    flex-direction: column;
    align-items: left;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #424895;
    color: #fff;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: 50px;
    padding: 0px 0px 0px 16px;
}

#content-container {
    display:flex;
    flex-direction: row;
    width: 100%;
}

#leftnav {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 150px;
    background-color: darkgrey;
    overflow: auto;
    padding: 3px 2px;
    height: 300px;
}

#content-container-right {
    width: 100%;
    align-items:center;
}

.leaseContainer {
    background-color: rgb(199, 205, 216);
    border-radius: 5px;
    width: 85%;
    padding: 6px;
    font-size: 8px;
    border: .25px solid white;
    margin: 2px;
    cursor: pointer;
}

.right-top {
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    height: 15px;
    font-size: 6px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#content-container-bottom {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.example-form-field {
    margin: 0 8px 16px 0;
    font-family: 'Roboto';
}

#dateHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 10px;
    margin: 6px 10px 0px 0px;
}

::ng-deep .mat-datepicker-content .mat-calendar
{ 
    zoom: 0.55;
}

::ng-deep .mat-calendar {
    padding-bottom: 25px;
}

#productionBlock-container {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    max-height: 200px;
}

.productionItem {
    width: 100%;
    background-color: orange;
    margin-top: 2px;
    padding: 8px;
    font-size: 10px;
}

